body {
  background-image: url('Prancheta\ 2.png');
  height: 300vh;
  background-repeat: no-repeat ;
  background-size: cover;
}

.headerAlemanha {
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 150px;
}

.container{
  width: 100%;
}

.home {
  width: 100px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 3px;
  color: #ffffff;
}

.home a {
  color: #ffffff;
  font-size: 35px;
  text-decoration: none;
}

.home a:hover {
  color: #dddddd;
}

.texto-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  flex-direction: row-reverse; /* <-- INVERTE a posição padrão */
  margin-top: 11.5em;
  margin-left: 20%;
}
.texto-flex-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  flex-direction: row-reverse; /* <-- INVERTE a posição padrão */
  margin-top: 15.95em;
  margin-left: 17.4%;
}
.texto-flex-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  flex-direction: row-reverse; /* <-- INVERTE a posição padrão */
  margin-top: 16em;
  margin-left: 18.8%;
}
.texto-flex-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  flex-direction: row-reverse; /* <-- INVERTE a posição padrão */
  margin-top: 15.9em;
  margin-left: 16.4%;
}




.texto {
  flex: 1;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-align: justify;
  
}

.imagem {
  flex: 1;
}

.imagem img {
  max-width: 155%;
  border-radius: 30px;
  width: 533px;
  height: 384px;
  
}
footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 20px 11px;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 13em;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color: #ffffff;
  font-size: 1.2em;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #FFD700;
}
